* {
    box-sizing: border-box
}

/* 基础的文本和背景显示 */
body {
    color: #111;
    background-color:#fdfdfd;
    margin: 0;
    font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
}

h1, h2, h3 {
    font-weight: 400;
}

a {
    color: #2a7ae2
}

/* 图形显示 按照顺序编排实现 */
.page-header {
    border-top: 5px solid #424242;
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
    position: relative;
}
.page-header > div {
    display: flex;
    align-items: center;
}
.page-header nav {
    margin-left: auto;
}
.page-header nav a {
    text-decoration: none;
    margin-left: 1rem;
    color: #111;
    line-height: 1.5;
}

.site-title {
    color:#424242;
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;  
    /*浮动在文字左边*/
}

.page-content {
    margin-bottom: 5rem;
}
.page-content h1 {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

.project-header {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}

.project-info a,
.project-info span {
    color: #424242;
    font-weight: bold;
}

.project-image {
    display: flex;
    flex-direction: column;
}
.project-image img {
    aspect-ratio: 1;
    object-fit: cover;
    width: 5rem;
    height:5rem;
    margin-bottom: 1rem;
}
.project-image img:first-child {
    width: 15rem;
    height: 15rem;
}

.project-content {
    text-indent: 4ch;
    margin-bottom: 8rem;
}

.wrapper {
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20rem;
    padding-right: auto; */
}

@media (min-width: 600px) {
    .project-header {
        flex-direction: row;
        justify-content: space-between;
    }
    .project-image {
        flex-direction: row-reverse;
    }
    .project-image img {
        margin-left: 1rem;
    }
    .project-content {
        max-width: 80ch;
        padding-left: 10rem;
    }
    .wrapper {
        max-width: 800px;
    }
}

/* 增加的漫画部分 */
#dairy-container {
    background-color: #F7F7F7;
    height:auto;
    width: 90%;
    padding: 0 1rem;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    scroll-snap-type: y mandatory;
    overflow: scroll;
}

#dairy-container div {
    width: 100%;
    height:100%;
    flex: 0 0 100%;
    scroll-snap-align: start;
    justify-content:center;
    align-items:center;
}


.dairy-img {
    width: 100%;
    height:100%
}



